<!DOCTYPE html>
<html>
<!-- Template for the post as it would appear on the site -->
<head>
  <title><%= posts.name %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/general.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/js/jquery-min.js"></script>
</head>
<body>
  <div class="header">
    <img src="/img/paper.png">
  <nav class="nav-side">
     <ul id="nav_ul">
       <a id="menu-link-1" href='/' onmouseover="highlight('menu-link-1')" onmouseout="unhighlight('menu-link-1')"><li class="menu-item">Posts</li></a>
       <a id="menu-link-2" href="/post/new" onmouseover="highlight('menu-link-2')" onmouseout="unhighlight('menu-link-2')"><li class="menu-item">New Post</li></a>
       <a id="menu-link-3" href="/posts/edit/<%= posts.link %>" onmouseover="highlight('menu-link-3')" onmouseout="unhighlight('menu-link-3')"><li class="menu-item">Edit Post</li></a>
     </ul>
     <a href="#" class="nav-toggle"></a>
   </nav>
 </div>
   <div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1><%= posts.name %></h1>
        <p class="byline">By <%= posts.author %> on <%= posts.date %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <% if (posts.image){ %>
        <img id="thumbnail-image" src="<%= posts.image %>" alt="thumbnail image">
        <% } %>
        <pre><%= posts.content %></pre>
      </div>
    </div>
</div>
</div>
<div id="footer">
  <a href="/"><img src="/img/paper.png"></a>
  <a href="/posts/edit/<%= posts.link %>">Edit Post</a>
  <a href="/post/new">New Post</a>
</div>
  <script src="/js/menu.js"></script>
</body>
</html>
