<!DOCTYPE html>
<html>
<head>
  <title>All Posts</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/general.css" type="text/css" />
  <link rel="stylesheet" href="/css/form.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="/js/jquery-min.js"></script>
</head>
<body>
  <% var cats = []; %>
<div class="header">
  <img src="/img/paper.png">
  <nav class="nav-side">
     <ul id="nav_ul">
       <a id="menu-link-1" href='/' onmouseover="highlight('menu-link-1')" onmouseout="unhighlight('menu-link-1')"><li class="menu-item">Posts</li></a>
       <a id="menu-link-2" href="/post/new" onmouseover="highlight('menu-link-2')" onmouseout="unhighlight('menu-link-2')"><li class="menu-item">New Post</li></a>
     </ul>
     <a href="#" class="nav-toggle"></a>
   </nav>
 </div>
   <div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
  <h1>All Posts</h1>
  <% if (posts.length > 0) { %>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Category
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% for (var i in posts) {
            var newCat = posts[i].category;
            cats.push(newCat);
          };
            var uniqueCats = [];
            for(var k in cats){
                if(uniqueCats.indexOf(cats[k]) < 0){
                  uniqueCats.push(cats[k]);
                };
            };
            for(var z in uniqueCats){
          %>
          <li><a href="/posts/categories/<%= uniqueCats[z] %>"><%= uniqueCats[z] %></a></li>
        <% }; %>
        </ul>
      </div>
    <table class="table table-striped table-hover table-responsive">
      <tr>
        <th>Post Name</th>
        <th>Date</th>
        <th>Category</th>
      </tr>
      <% for(var j in posts){  %>
        <tr>
          <td><a href="/posts/<%= posts[j].link %> "><%= posts[j].name %></a><a class="edit" href="/posts/edit/<%= posts[j].link %>">(Edit)</a></td>
          <td><%= posts[j].date %></td>
          <td><%= posts[j].category %></td>
        </tr>
        <% } %>
        <% }else{ %>
        <p>No posts to show</p>
        <% }  %>
    </table>
  </div>
  </div>
  <div class="col-md-12">
  <div class="center"><a href="/post/new"><button class="btn btn-primary">Create new post</button></a></div>
</div>
  </div>
</div>
<div id="footer">
  <a href="/"><img src="/img/paper.png"></a>
  <a href="/post/new">New Post</a>
</div>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/menu.js"></script>
</body>
</html>
