<!DOCTYPE html>
<html>
<head>
  <title>Posts</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/general.css" type="text/css" />
  <link rel="stylesheet" href="/css/form.css" type="text/css" />
</head>
<body>
  <div class="container-fluid">
    <div class="row">
    <div class="col-sm-12">
  <h1>Edit Post</h1>
       <form action="/posts/edit/<%= posts.link %>" method="POST">
         <div class="col-lg-2 col-md-6">
           <p>
           <label><h2>Post Name</h2></label>
           <input type="text" id="name" name="name" value="<%= posts.name %>" />
           </p>

           <p>
           <label><h2>Author</h2></label>
           <input type="text" id="author" name="author" value="<%= posts.author %>" />
           </p>

           <p>
           <label><h2>Category</h2></label>
           <input type="text" id="category" name="category" value="<%= posts.category %>" />
           </p>
         </div>
         <div class="col-lg-2 col-md-6">
           <p>
           <label><h2>Image</h2></label>
           <input type="text" id="image" name="image" value="<%= posts.image %>" />
           </p>

           <p>
           <label><h2>Date</h2></label>
           <input type="date" id="date" name="date" value="<%= posts.date %>" />
           </p>

           <p>
           <label><h2>Slug</h2></label>
           <input type="text" id="link" name="link" value="<%= posts.link %>" />
           </p>
         </div>
         <div class="col-lg-8 col-md-12">
           <p>
           <label><h2>Content</h2></label>
           <textarea type="text" id="content" name="content" rows="15" value="<%= posts.content %>"><%= posts.content %></textarea>
           </p>
         </div>
         <div class="col-md-12">
         <button class="btn btn-success">Update</button>
         <a class="btn btn-danger" href="/posts/delete/<%= posts.link %>">Delete</a>
         <a class="btn btn-primary" href="/">Cancel</a>
       </div>
       </form>


     </div>
     </div>
     </div>
</body>
</html>
